{% extends 'layout.html' %}

{% block body %}
    <h1>Welcome to Secret Diary</h1>
    <p>Requirements for the front end are as follows:</p>
    <ul>
        <li><strike>Register a user</strike></li>
        <li><strike>Login</strike></li>
        <li><strike>Logout</strike></li>
        <li><strike>Display all public diary entries</strike></li>
        <li><strike>Display an authenticated user's diary entries</strike></li>
        <li><strike>Create a new diary entry</strike></li>
        <li><strike>Delete an existing diary entry</strike></li>
        <li><strike>Toggle the permissions on an existing diary entry</strike></li>
    </ul>
    <!-- the following is a demo on how you may display data retrieved from
         the API
    -->
    <div id="demo_heartbeat">
    </div>
    <div id="demo_members">
    </div>
    <!-- <script src="./service/demo.js"></script> -->
{% endblock %}

